@model User
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditProfile</h1>
<div class="col-lg-6 offset-3">
    <div class="box">
        <h3 class="heading">Edit Profile</h3>

        <form asp-controller="Account" asp-action="UpdateProfile" method="post" enctype="multipart/form-data">

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(c => c.FirstName, "First Name")
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control"})
            </div>


            <div class="form-group">
                @Html.LabelFor(c => c.LastName, "Last Name")
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control"})
            </div>


            <div class="form-group">
                <label>Gender</label>
                <br>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(x => x.Gender, "Male", new { @class = "form-check-input", id = "male", @checked="checked" })
                    @Html.LabelFor(x => x.Gender, "Male", new { @class = "form-check-label"})
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(x => x.Gender, "Female", new { @class = "form-check-input", id = "female" })
                    @Html.LabelFor(x => x.Gender, "Female", new { @class = "form-check-label"})
                </div>
            </div>
            <div>
                
                    <label asp-for="resumeURL" class="text-light">Upload Resume</label>
                    <input asp-for="resumeURL" class="form-control" id="uploadBox" name="resume" type="file" />
               
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-outline-white-primary" onclick="return ValidateInput()">
                    <i class="fa fa-signing"></i> Update
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        function ValidateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an Resume!'

                });
                return false;
            }
            return true
        }
    </script>
}