@using Humanizer
@model Apply.com.ViewModel.Home.TrendingJobViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/animate.css">
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/myslider.css">
<style>
    .job__title {
        margin-top: 0
    }

    .job__location {
        margin-right: 5px;
        color: #868e96
    }

    .job__star {
        text-align: right
    }

    .job-listing.job-listing--last {
        border-bottom: solid 1px #dee2e6;
        margin-bottom: 40px
    }

    .job-listing.job-listing--featured {
        border-left: solid 5px #918f8e;
        padding-left: 15px
    }
     .job-listing:is(:hover) {
     background-color:#fbf7ff;
     transform: scale(1.05)
     }

    .job-listing {
        background-color:white;
        border: solid 1px #dee2e6;
        border-bottom: none;
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 19px;
        padding-right: 15px;
        clear: both;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out
    }

    .bg-light-gray {
        background: #fafafa
    }

    .job-form-box {
        background-color: rgba(255,255,255,0.8);
        padding: 40px;
        margin-top: 40px;
        margin-bottom: 40px
    }

    .job-form-section.job-form-section--image {
        background: center center url("../img/2923139.jpg") no-repeat;
        background-size: cover
    }

    .job-form-section--image {
        background: center center url("../img/2923139.jpg") no-repeat;
        background-size: cover
    }
    .box-image-text{
          transition: transform .2s;
    }
    .box-image-text:is(:hover){
        transform: scale(1.05);
        background-color:#fbf7ff;
    }
    #my {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}


   
</style>
<section style="margin-top:-65px;">
 <div class="site-blocks-cover">
      <div class="img-wrap">
        <div class="owl-carousel slide-one-item hero-slider">
          <div class="slide">
            <img src="https://images.unsplash.com/photo-1549923746-c502d488b3ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="#">  
          </div>
          <div class="slide">
            <img src="https://images.unsplash.com/photo-1598257006626-48b0c252070d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="#">  
          </div>
          <div class="slide">
            <img src="https://images.unsplash.com/photo-1476231790875-016a80c274f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="#">  
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto align-self-center">
            <div class="intro">
              <div class="heading">
                <h2 class="text-black font-weight-bold" style=" text-shadow: 1px 1px 1px #919191,
      
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
   
    1px 25px 25px rgba(16,16,16,0.2),
    1px 30px 40px rgba(16,16,16,0.4)">Need <br />Job?</h2>
              </div>
              <div class="text sub-text">
                <p>Finding the right job made easy with Apply.com. Register Now and Apply to the best jobs!.</p>
                <p><a asp-controller="Contact" asp-action="Create" target="_blank" class="btn btn-primary btn-md btn-pill">Contact Us</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
 </div>
</section>

 
<section class="job-form-section job-form-section--image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="job-form-box">
                    <h2 class="heading">
                        Find a <span class="accent">job</span> you will
                        <span class="accent">love</span>.
                    </h2>
                    <form id="job-main-form" method="get" asp-controller="Home" asp-action="Search" class="job-main-form">
                        <div class="controls">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="profession">Position</label>
                                        <input type="text" id="profession" name="position"
                                               placeholder="Position you are looking for" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" id="location" name="location"
                                               placeholder="Any particular location?" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <button type="submit"
                                            class="btn btn-outline-white-primary job-main-form__button">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-gray">
    <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured align-items-stretch">
            @foreach (var job in Model.Jobs)
            {
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="box-image-text  full-height">
                        <div class="top">
                            
                               
                                
                                <div>
                                    <img src="~/img/EmployerLogo/@job.companyImgURL" alt="@job.CompanyName" style="max-width: 150px;padding: 20px 0px 20px 0px; height:150px;">
                                </div>
                            
                        </div>
                        <div class="content">
                            <h5><a asp-controller="Home" asp-action="JobDetails" asp-route-id="@job.Id">@job.Title</a></h5>
                            <p class="featured__details">
                                <i class="fa fa-map-marker job__location"></i>
                                @job.Location
                                @if (job.Type == "Full time")
                                {
                                    <span class="badge featured-badge badge-success">Full time</span>
                                }
                                else if (job.Type == "Part time")
                                {
                                    <span class="badge featured-badge badge-primary">Part time</span>
                                }
                                else
                                {
                                    <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
                                }
                            </p>
                            <p>@job.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h4 class="heading text-dark">Trending this month</h4>
        @foreach (var trending in Model.Trendings)
        {
            <div class="job-listing job-listing--last" >
                <div class="row">

                    <div class="col-md-12 col-lg-6">
                        <div class="row">
                            <div class="col-2">
                                <img src="~/img/EmployerLogo/@trending.companyImgURL"
                                 alt="ShareBoardd " class="img-fluid">
                            </div>
                            <div class="col-10">
                                <h4 class="job__title">
                                    <a asp-controller="Home" asp-action="JobDetails" asp-route-id="@trending.Id">@trending.Title</a>
                                </h4>
                                <p class="job__company">
                                    @trending.CompanyName
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-md-3 col-lg-2 ml-auto">
                        <i class="fa fa-map-marker job__location"></i>
                        @trending.Location
                    </div>
                    <div class="col-10 col-md-3 col-lg-3 ml-auto">
                        <p>Posted @trending.CreatedAt.Humanize()</p>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-1">
                        <div class="job__star">
                            <a href="#" data-toggle="tooltip" data-placement="top"
                           title="Save to favourites" class="job__star__link">
                                <i class="fa fa-star"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

   


    <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="news-slider" class="owl-carousel">
        <div class="post-slide">
          <div class="post-img">
            <img src="https://us.123rf.com/450wm/wolterk/wolterk1402/wolterk140200024/25656202-santa-clara-ca-usa-february-1-2014-amazon-building-in-santa-clara-california-amazon-is-an-american-i.jpg?ver=6" alt="">
         
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Amazon</a>
            </h3>
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
           
            <a href="#" class="read-more">Visit Site</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://image.architonic.com/prj2-3/5104765/microsoft-deutschland-zentrale-projects-01-titel-arcit18.jpg" alt="">
         
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Microsoft</a>
            </h3>
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
           
            <a href="https://www.microsoft.com" class="read-more">Visit Site</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Wipro_1200_Picxy.jpg?itok=1Gmozxe3" alt="">
         
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Wipro</a>
            </h3>
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
          
            <a href="https://www.wipro.com" class="read-more">Visit Site</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/97/Flipkart-main-office.jpg" alt="">
        
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Flipkart.</a>
            </h3>
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>

            <a href="#" class="read-more">Visit Site</a>
          </div>
        </div>
        
        <div class="post-slide">
          <div class="post-img">
            <img src="https://images.livemint.com/img/2020/11/11/1600x900/4ec3e248-0e36-11eb-b6f6-6ba3a0b37bef_1603013737458_1605110682845.jpg" alt="">
          
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Infosys</a>
            </h3>
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
        
            <a href="#" class="read-more">Visit Site</a>
          </div>
        </div>

        <div class="post-slide">
          <div class="post-img">
            <img src="https://newsroom.cisco.com/c/r/newsroom/en/us/a/y2021/m10/cisco-corporate-ne-8/_jcr_content/root/hero.coreimg.jpeg/1639589219883/cisco-building-corporate-002-jpg-1889882-1-0.jpeg" alt="">
            
          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Cisco</a>
            </h3>
            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
    
            <a href="#" class="read-more">Visit Site</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
<h1 style="text-align: center; margin-top:50px;">Must Watch Videos</h1>
 <div class="container" style="display:flex;margin-top:30px;" >
     
        <div id="ab1" style="display:inline-block; margin-left:55px;" >
                <iframe width="460" height="315" src="https://www.youtube.com/embed/8phKQTuEl7Y" title="YouTube video player" ></iframe>
        </div>
        <div id="ab2" style="display:inline-block; padding-left:50px;">
                <iframe width="460" height="315" src="https://www.youtube.com/embed/or3pw1VTF98" title="YouTube video player" ></iframe>

        </div>

 </div>
</div>
   
</section>



 <script src="~/js/bootstrap.min.js"></script>
 <script src="~/js/jquery-3.3.1.min.js"></script>
 <script src="~/js/main.js"></script>
 <script src="~/js/owl.carousel.min.js"></script>
 <script src="~/js/popper.min.js"></script>
 <script src="~/js/myslider.js"></script>
