@using Humanizer
@model IEnumerable<Apply.com.Models.Job>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="job-form-section job-form-section--compressed">
    <div class="container">
        <h4 class="heading">Find a <span class="accent">job </span> you will <span class="accent">love</span></h4>
        <form id="job-main-form" method="get" class="job-main-form">
            <div class="controls">
                <div class="row align-items-end">
                    <div class="col-sm-1 col-lg-2"></div>
                    <div class="col-sm-5 col-lg-4 form-group">
                        <label for="position">Position</label>
                        <input type="text" id="position" name="position"
                               placeholder="Position you are looking for" class="form-control" value="@Context.Request.Query["position"].ToString()">
                    </div>
                    <div class="col-sm-5 col-lg-4 form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" placeholder="Any particular location?"
                               value="@Context.Request.Query["location"].ToString()" class="form-control">
                    </div>
                    <div class="col-sm-1 col-lg-2 form-group">
                        <button type="submit" class="btn btn-outline-white-primary job-main-form__button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section>
    <div class="container">
        <h3 class="heading">We have found <span class="accent">@Model.Count()</span> jobs</h3>
        @foreach (var job in Model)
        {
            <div class="job-listing  ">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="row">
                            <div class="col-2">
                                <img src="~/img/EmployerLogo/@job.companyImgURL" alt="@job.CompanyName" class="img-fluid">
                            </div>
                            <div class="col-10">
                                <h4 class="job__title">
                                    <a href="#">
                                        @job.Title
                                    </a>
                                </h4>
                                <p class="job__company">
                                    @job.CompanyName
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-md-3 col-lg-2 ml-auto">
                        <i class="fa fa-map-marker job__location"></i>
                        @job.Location
                    </div>
                    <div class="col-10 col-md-3 col-lg-3 ml-auto">
                        <p>Posted @job.CreatedAt.Humanize()</p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

