@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - jobP</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.css">
    <link rel="stylesheet" href="~/css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg border-bottom box-shadow mb-3" style="background:linear-gradient(to bottom, #000000 -175%, #ffffff 100%)">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img src="~/img/Apply.com NavbarIcon.png" alt="logo" class="d-none d-lg-block" style="width:30px; height:50px">
                    @*<h3 style="font-family:Impact" class="pt-2"><b>Ʌpply.com</b></h3>*@
                    <span class="sr-only">Home</span>
                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navbar-toggler-right text-dark">
                    Menu
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a href="/" class="nav-link text-dark">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">Contact</a>
                        </li>
                        @if (this.User.IsInRole("Employer") && SignInManager.IsSignedIn(User))
                        {
                            <form method="post" style="display: none;" id="logout-form" asp-controller="Account" asp-action="Logout">
                            </form>
                            <li class="nav-item dropdown text-dark">
                                <a id="clientZone" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"
                               class="nav-link dropdown-toggle has-img mb-3 mb-lg-0 mt-3 mt-lg-0">
                                    <div class="client-menu-image">
                                        <div class="inner">
                                            <img src="#"
                                             alt=""
                                             class="img-fluid">
                                        </div>
                                    </div>
                                    @user.FirstName - @user.LastName
                                </a>
                                <div aria-labelledby="clientZone" class="dropdown-menu">
                                    <a asp-controller="Dashboard" asp-action="Index" class="dropdown-item">Dashboard</a>
                                    <a asp-controller="Dashboard" asp-action="Applicants" class="dropdown-item">Applicants </a>
                                    <a asp-controller="Job" asp-action="Create" class="dropdown-item">
                                        Post a new job
                                    </a>
                                    <a href="#" class="dropdown-item" onclick="document.getElementById('logout-form').submit();">Logout</a>
                                </div>
                            </li>
                        }
                        else if (this.User.IsInRole("Employee") && SignInManager.IsSignedIn(User))
                        {
                            <form method="post" style="display: none;" id="logout-form" asp-controller="Account" asp-action="Logout">
                            </form>
                            <li class="nav-item dropdown text-dark">
                                <a id="clientZone" href="#" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"
                               class="nav-link dropdown-toggle has-img mb-3 mb-lg-0 mt-3 mt-lg-0">
                                    <div class="client-menu-image">
                                        <div class="inner">
                                            <img src="#" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                    @user.FirstName @user.LastName
                                </a>
                                <div aria-labelledby="clientZone" class="dropdown-menu">
                                    <a asp-controller="Account" asp-action="EditProfile" class="dropdown-item">Edit Profile</a>
                                    <a href="#" class="dropdown-item" onclick="document.getElementById('logout-form').submit();">Logout</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a id="pages" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                               class="nav-link dropdown-toggle text-dark">
                                    Register
                                </a>
                                <div aria-labelledby="pages" class="dropdown-menu">
                                    <a asp-controller="Account" asp-action="EmployeeRegister" class="dropdown-item text-dark">Employee</a>
                                    <a asp-controller="Account" asp-action="EmployerRegister" class="dropdown-item text-dark">Employers</a>
                                </div>
                            </li>
                            <li class="nav-item text-dark">
                                <a asp-controller="Account" asp-action="Login" class="btn navbar-btn btn-outline-dark mb-5 mb-lg-0">
                                    Login
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - jobP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/js/front.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>